<div class="hero-table__wrapper">
  <table mat-table [dataSource]="heroes()" class="hero-table">
    <ng-container [matColumnDef]="heroFields.imageUrl">
      <th mat-header-cell *matHeaderCellDef i18n="Table header for the hero image column">
        Imagen
      </th>
      <td mat-cell *matCellDef="let hero">
        @if (hero.imageUrl) {
          <img [src]="hero.imageUrl" alt="" loading="lazy" class="hero-table__avatar" />
        } @else {
          <div class="hero-table__placeholder" aria-hidden="true">
            <mat-icon>shield</mat-icon>
          </div>
        }
      </td>
    </ng-container>

    <ng-container [matColumnDef]="heroFields.name">
      <th mat-header-cell *matHeaderCellDef i18n="Table header for the hero name column">Nombre</th>
      <td mat-cell *matCellDef="let hero">
        <a [routerLink]="routeToHeroDetail(hero.id)" class="hero-table__name">{{ hero.name }}</a>
      </td>
    </ng-container>

    <ng-container [matColumnDef]="heroFields.alterEgo">
      <th mat-header-cell *matHeaderCellDef i18n="Table header for the hero alter ego column">
        Alter ego
      </th>
      <td mat-cell *matCellDef="let hero">{{ hero.alterEgo }}</td>
    </ng-container>

    <ng-container [matColumnDef]="heroFields.publisher">
      <th mat-header-cell *matHeaderCellDef i18n="Table header for the hero publisher column">
        Editorial
      </th>
      <td mat-cell *matCellDef="let hero">{{ hero.publisher }}</td>
    </ng-container>

    <ng-container [matColumnDef]="heroFields.powerLevel">
      <th mat-header-cell *matHeaderCellDef i18n="Table header for the hero power level column">
        Poder
      </th>
      <td mat-cell *matCellDef="let hero">{{ hero.powerLevel }}</td>
    </ng-container>

    <ng-container [matColumnDef]="heroFields.active">
      <th mat-header-cell *matHeaderCellDef i18n="Table header for the hero status column">
        Estado
      </th>
      <td mat-cell *matCellDef="let hero">
        @if (hero.active) {
          <span class="hero-table__status" i18n="Status label for an active hero">Activo</span>
        } @else {
          <span
            class="hero-table__status hero-table__status--inactive"
            i18n="Status label for an inactive hero"
            >Inactivo</span
          >
        }
      </td>
    </ng-container>

    <ng-container [matColumnDef]="actionsColumn">
      <th mat-header-cell *matHeaderCellDef i18n="Table header for the hero actions column">
        Acciones
      </th>
      <td mat-cell *matCellDef="let hero">
        <button
          mat-icon-button
          type="button"
          [attr.aria-label]="editLabel(hero)"
          (click)="edit.emit(hero)"
        >
          <mat-icon>edit</mat-icon>
        </button>
        <button
          mat-icon-button
          type="button"
          [attr.aria-label]="deleteLabel(hero)"
          (click)="delete.emit(hero)"
        >
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
